body.lights-off {
    filter: invert(1);
}

.logo {
    background-image: url('../assets/images/mas-logo.svg');
}

.info > div {
    padding: 4px;
    background: linear-gradient(#000000e6, #0000004d);
    box-shadow: 2px 2px 5px;
}

.info > div > div {
    background-color: #fff;
}

@media (hover: hover) or (min-width: 1024px) {
    .page {
        background-position: top right;
    }
}
