.main {
    background: linear-gradient(#000000e6, #ffffff4d),
        url('../assets/images/main-bg-no-color.webp');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    background-blend-mode: multiply;
}
