// .main.lights-off {
//     background-color: #fff;
//     filter: invert(1) hue-rotate(180deg);
// }

// .main.lights-off + .header {
//     background-color: black;
//     color: white;
// }

.info > div {
    padding: 4px;
    background: linear-gradient(#000000e6, #0000004d);
    box-shadow: 2px 2px 5px;
}

.info > div > div {
    background-color: #fff;
}

.page {
    background-position: top right;
}
